---
import PlotFigure from "../components/PlotFigure.astro";
import * as Plot from "@observablehq/plot";
import penguins from "../assets/penguins.json";
---

<html lang="en">
	<body>
		<main>
			<PlotFigure
				options={{
					marks: [
						Plot.dot(penguins, {
							x: "culmen_length_mm",
							y: "culmen_depth_mm",
						}),
					],
				}}
			/>
		</main>
	</body>
</html>
